<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">

        <nav id="sidebar">
            <div class="sidebar-body p-4 pt-5">
                <label style="font-size: 1.8em;">
                    <i class="fa fa-cog mr-3"></i>CONFIGURATION
                </label>
                <br><br><br><br>
                <form>
                    <div class="form-group">
                        <label>NOM</label>
                        <input type="text" name="Nom" class="form-control" placeholder="Nom">
                    </div>
                    <div class="form-group">
                        <label>PRENOM</label>
                        <input type="text" name="Prenom" class="form-control" placeholder="Prenom">
                    </div>
                    <div class="form-group">
                        <label>NOMBRE D'ENFANTS</label>
                        <input type="number" name="nbEnfants" class="form-control" value="0" min="0" disabled>
                    </div>
                </form>

            </div>
        </nav>
    </div>


</body>

</html>
